[submodule "src/backend"]
	path = src/backend
	url = git@github.com:splay-project-v2/backend.git
[submodule "src/cli"]
	path = src/cli
	url = git@github.com:splay-project-v2/cli.git
[submodule "src/controller"]
	path = src/controller
	url = git@github.com:splay-project-v2/controller.git
[submodule "src/daemon"]
	path = src/daemon
	url = git@github.com:splay-project-v2/daemon.git
[submodule "src/web-app"]
	path = src/web-app
	url = git@github.com:splay-project-v2/web-app.git
